.features {
    display: flex;
    justify-content: space-between;
  }
  
  
  .features__box{  
    width: 270px;

    &:not(:last-child){
      margin-right: 30px;
    }
  }
  
  
  .features__antena::before{
    content: "";
    height: 120px;
    background-color: var(--card-fon);
    display: block;
    margin-bottom: 30px;
    background-image: url(../images/icones/antenna.svg);
    background-position: center;
    background-repeat: no-repeat;
  }

  .features__clock::before{
    content: "";
    height: 120px;
    background-color: var(--card-fon);
    display: block;
    margin-bottom: 30px;
    background-image: url(../images/icones/clock.svg);
    background-position: center;
    background-repeat: no-repeat;
  }

  .features__diagram::before{
    content: "";
    height: 120px;
    background-color: var(--card-fon);
    display: block;
    margin-bottom: 30px;
    background-image: url(../images/icones/diagram.svg);
    background-position: center;
    background-repeat: no-repeat;
  }

  
  .features__astronaut::before{
    content: "";
    height: 120px;
    background-color: var(--card-fon);
    display: block;
    margin-bottom: 30px;
    background-image: url(../images/icones/astronaut.svg);
    background-position: center;
    background-repeat: no-repeat;
  }
  
  
  .features__text {
    color: var(--contact-color);
    font-size: 14px;
    line-height: 1.7;
  }